<!DOCTYPE html>

{% extends 'Dash/base.html' %}

{% block body_block %}
<div class="hero-unit">
    <h1>About Rango</h1>
    This is <strong>Rango's about page</strong>.<br />
 
<p>
    This is the house that Jack built.
    This is the malt that lay in the house that Jack built.
    This is the rat that ate the malt
    That lay in the house that Jack built.
    This is the cat that killed the rat
    That ate the malt that lay in the house that Jack built.
    This is the dog that worried the cat
    That killed the rat that ate the malt
    That lay in the house that Jack built.
    This is the cow with the crumpled horn
    That tossed the dog that worried the cat
    That killed the rat that ate the malt
    That lay in the house that Jack built.
    This is the maiden all forlorn
    That milked the cow with the crumpled horn
    That tossed the dog that worried the cat
    That killed the rat that ate the malt
    That lay in the house that Jack built.
    This is the man all tattered and torn
    That kissed the maiden all forlorn
    That milked the cow with the crumpled horn
    That tossed the dog that worried the cat
    That killed the rat that ate the malt
    That lay in the house that Jack built.
    This is the judge all shaven and shorn
    That married the man all tattered and torn
</p>
  
</div>
{% endblock %}
